*{
    padding: 0px;
    margin: 0px;
}

body,td{
    font-family:Tahoma,Arial,Helvetica,sans-serif;
    list-style:square;
    font-size:11px;
    color: #FFF;
    font-weight: bold;
}

h3 {
    font-size: 14pt;
    color: #ff6600;
    font-weight:bold;
}

label{
    font-size: 10px;
    font-weight: normal;
}

.cjbox{
    width:269px;
    height: 209px;
    background-image: url(images/cj-bluebox.gif);
    background-repeat: no-repeat;
    padding: 10px;
    padding-right: 0px;
}

    .cjbox form{
        padding: 0px;
        margin: 0px;
    }

    .cjbox table{
        padding-top: 5px;
    }
    .cjbox table tr td{
        padding-top: 5px;
    }
    
    .cjbox input{
        padding: 0px 2px 0px 0px;
        margin: 0px 2px 0px 0px;
    }