body	{font-family:Arial,Helvetica,sans-serif;list-style:square;font-size:11px; margin: 0; }
h3		{border-top:#cc2229 1px solid;margin-top:5pt;padding-left:15px;font-weight:bold;font-size:1.1em;margin-bottom:5pt;padding-bottom:2px;color:#304788;padding-top:2px;border-bottom:#cc2229 1px solid}
a:link, a:hover, a:visited 	{ color:#cc2229; font-weight:bold; font-size:18px; text-decoration:underline; margin-bottom:5px; }

	.faqsol_container		{ width: 560px !important; }
	.form-heading			{ background: url(/support-centre/media/images/ow_box01-3.gif) top no-repeat #00AEEF; width: 552px; height: 35px; clear: both; color: #FFFFFF; margin: 12px 0 0 0; }
		.form-heading h2 	{ float: left; font-size: 16px; margin: 8px 0 0 11px; }
		.form-heading div	{ float: right; text-align: right; font-size: 11px; margin: 12px 12px 0 0; }
	.asterix				{ color: #E2001A; }
	.form-body				{ background: url(/support-centre/media/images/ow_box02-3.gif) top no-repeat; width: 550px; border-left: #00aeef 1px solid; border-right: #00aeef 1px solid;}
	.contact-form			{ padding: 25px 10px 0 15px; }
	.input-field			{ display: inline; float: left; margin: 0 45px 10px 0; }
		.input-field input	{ width: 170px; }
		.input-field label	{ display: block; font-size: 12px; font-weight: bold; margin-bottom: 3px; color: #000 }
	.form-bottom			{ background: url(/support-centre/media/images/ow_box03-3.gif) top no-repeat; width: 552px; height: 10px}
	.message-box			{ clear: both; margin-right: 0px; }
	#ajax_response			{ float: right; width: 300px; font-size: 12px; }
		#ajax_response label{ display: block; font-size: 12px; font-weight: bold; margin-bottom: 3px; color: #000 }
	.ajax_response 			{ background: none !important; }
	#contact_form_submit	{ clear: both; display: block; }
	.boxes					{ display: inline; float:left; width: 300px; }
	#dlformID				{ margin: 0; padding: 7px 0 0 7px; }
	#dbtn					{ clear: both; display: block; }
