body	{font-size:75%}
body,td	{font-family:Arial,Helvetica,sans-serif;list-style:square;font-size:11px}
h3		{border-top:#cc2229 1px solid;margin-top:5pt;padding-left:15px;font-weight:bold;font-size:1.1em;margin-bottom:5pt;padding-bottom:2px;color:#304788;padding-top:2px;border-bottom:#cc2229 1px solid}
a:link, a:hover, a:visited { color:#cc2229; font-weight:bold; font-size:18px; text-decoration:underline; margin-bottom:5px; }
.os_select {line-height:32px; padding: 5px 10px 1px 45px;}
.os_select *{float:left;}
.os_select input {margin: 8px 0 0 0}
.os_select .last {margin: 8px 0 0 20px}
.os_select img {margin:3px;}
