body{
font-size:75%
}

body,td{
font-family:Verdana, Arial, Helvetica, sans-serif;
list-style:square;
font-size:11px
}

h3{
	border-top:#444444 1px solid;
	margin-top:5pt;
	padding-left:15px;
	font-weight:bold;
	font-size:1.1em;
	margin-bottom:5pt;
	padding-bottom:2px;
	color:#566871;
	padding-top:2px;
	border-bottom:#444444 1px solid
}

a:link, a:hover, a:visited {
color:#566871;
font-weight:bold;
font-size:18px;
text-decoration: underline;
margin-bottom:5px;
}