*{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #666666;
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
}

body{
    margin: 10px;
    padding: 0px;
    background-color: transparent;
}

table{
    width: 292px;
}

.os_select * {
	float:left;
}
.os_select {
	line-height:30px;
	padding:0 0 0 46px;
}
.os_select .last {
	margin:8px 0 0 20px;
}
.os_select label {
	line-height: 30px;
}
.os_select input {
	margin:8px 0 0 0;
}
#label_mac {
	width:90px;
}
a.dl_os_link img {
	border: none;
	display:block;
	float:left !important;
	margin:0 !important;
}
a.dl_os_link span {
	display:block;
	float:left;
	margin:8px 0 0;
}
a.dl_os_link {
	float:left;
	margin:10px 40px 10px 0;
}