/* reset vendor css - based on http://developer.yahoo.com/yui/reset/ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    outline: none;
}
fieldset,img,a {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,q:after {
    content: '';
}
abbr,acronym {
    border: 0;
}
img {
    margin: 0;
}
select {
    box-sizing:content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
/* end reset css */

/* DESIGN */

body{
    /*text-align:center;*/
    font-family: 'Open Sans', sans-serif;
    color:#4c4c4c;
    font-size:13px;
    background:white url(../img/design/bg.png?v9) left top repeat-x;
}
body.cutback{
    background:white url(../img/design/bg-narrow.png) left top repeat-x;
}
body.rewards{
    background:white url(../img/design/bg.rewards.png) left top repeat-x;
}

.container{
    text-align:left;
    width:1060px;
    margin:0 auto;
}

#contactstrip{
    text-align:right;
    height:31px;
    padding-top:7px;
}

#contactstrip span{
    opacity:0.7;
    font-size:11px;
}

#contactstrip #phonenum{
    float:right;
    background:url(../img/design/phone.png) 10px 3px no-repeat;
    padding:1px 0 3px 30px;
    font-size:14px;
    font-weight:600;
    opacity:0.7;
    color:#4c4c4c;
    text-decoration: none;
}

#microdata{
    display:none;
}

#header{
    height:96px;
}
.rewards #header{
    height:80px;
}

#sitelogo{
    float:left;
    margin-top:12px;
    margin-bottom:0;
}
.rewards #sitelogo{
    margin-top:0;
}

#sitelogo a{
    width:302px;
    height:70px;
    display:block;
    background:url(../img/design/logo.png) left top no-repeat;
    text-indent: -999em;
    overflow:hidden;
}

#topmenu{
    float:right;
    margin-top:45px;
    text-align:center;
}
.rewards #topmenu{
    margin-top:30px;
}

#topmenu li{
    display:block;
    float:left;
    margin:0 30px;
    position:relative;
}
#topmenu li.last{
    margin-right:0;
}

#topmenu li a{
    display:block;
    font-weight:600;
    font-size:14px;
    color:#4c4c4c;
    text-decoration: none;
    letter-spacing: 0.12em;
}

#topmenu ul{
    position:absolute;
    left:-9999em;
    top:auto;
}

#topmenu li a:hover{
    opacity:0.5;
}
#topmenu li.active a, #topmenu li a:active{
    text-decoration:underline;
}

#submenu{
    padding-left:10px;
}

#submenu a{
    color:#4c4c4c;
    font-weight:600;
    text-decoration: none;
    letter-spacing: 0.12em;
}
#submenu a:hover{ opacity:0.5; }
#submenu a:active, #submenu li.active a{ font-weight:700; }

#submenu li{
    margin-top:1em;
}

#submenu li a{
    font-weight:300;
}

#submenu .subsubsubmenu{
    display:none;
}

#breadcrumbs{
    clear:both;
    width:100%;
    margin-bottom:50px;
}

#breadcrumbs li{
    display:block;
    float:left;
    margin-right:1em;
    color:#248dd7;
    font-size:11px;
}

#breadcrumbs li a{
    color:#248dd7;
    font-size:11px;
    letter-spacing: 0.12em;
}
#breadcrumbs li a.thispage{
    text-decoration: none;
}

#main{
    width:1060px;
    position:relative;
}

#left{
    width:178px;
    margin-right:10px;
    float:left;
    padding-top:45px;
}
.retail #left, .cutback #left, .nomenu #left { display:none; }

#left .module{
    margin:50px 0 0;
}

#left .module h4{
    color:#4c4c4c;
    font-weight:600;
    font-size:12px;
}

#left .module .mostread{
    margin:0;
    list-style-type: none;
}

#left .module .mostread li{
    margin-bottom:1em;
}

#left .module .mostread li a{
    font-weight:300;
    font-size:12px;
    color:#4c4c4c;
}

#menuburger{
    display:none;
}

#leftmenu{

}

#leftmenu li{
    position:relative;
}

#leftmenu li a{
    font-size:17px;
    font-weight:700;
    padding:13px 0 13px 10px;
    text-decoration: none;
    color:#60a8f0;
    display:block;
    letter-spacing: 0.12em;
}
#leftmenu li a:hover { background:#e8f5fe }
#leftmenu li.last a { border:none; }

#leftmenu li .submenu{
    position:absolute;
    top:-3px;
    left:-999em;
    z-index:1;
}
#leftmenu li:hover .submenu{
    left:178px;
    padding-left:10px;
}

#leftmenu li .submenu .submenucontents{
    background:url(../img/design/submenubg.png) left top repeat;
    border: 1px solid #b1b1b1;
    padding:12px;
    width:190px;
    position:relative;
}
#leftmenu li .submenu .submenucontents.two{
    /* width:335px; */
}

#leftmenu li .submenu .submenucontents h5{
    margin:0 3px;
}

#leftmenu li .submenu .submenucontents h5 a{
    border-bottom:1px solid #cacaca;
    padding:5px 0 13px;
    color:#787878;
    font-size:14px;
    font-weight:600;
}
#leftmenu li .submenu .submenucontents h5 a:hover { background:none }
#leftmenu li .submenu .submenucontents h5 a:hover span{ opacity:0.5; }

/*#leftmenu li .submenu .submenucontents ul{
    float:left;
}
#leftmenu li .submenu .submenucontents ul.first{ margin-right:25px; }*/

#leftmenu li .submenu .submenucontents li{
    background:transparent;
    padding:0;
    margin-top:4px;
    border:none;
}

#leftmenu li .submenu .submenucontents li a{
    border:none;
    font-size:10px;
    font-weight:600;
    letter-spacing: 0.12em;
    padding:5px 3px;
    color:#787878;
}
#leftmenu li .submenu .submenucontents li a:hover{ background:#f9deb8; }

#leftmenu li .submenu .submenucontents li .subsubmenu{
    position:absolute;
    left:-9999em;
    top:0;
}

#right{
    width:872px;
    float:left;
}
.retail #right{ width:100%; }
.nomenu #right{ width:100%; }
.cutback #right{ width:100%; max-width:924px; float:none; margin:45px auto; }
.fullscreen #right { padding-top:10px; }
.frontpage #right{ width:1060px; }

#toolbar{
    width:100%;
    padding-top:9px;
    height:58px;
}
.retail #toolbar{
    width:872px;
    padding-left:188px;
}
.cutback #toolbar{
    display:none;
}
.fullscreen #toolbar{
    display:none;
}
.rewards #toolbar{
    height:85px;
}

#findus{
    float:left;
    margin-top:4px;
}

#findus span{
    display:block;
    float:left;
    font-size:11px;
    font-weight:600;
    margin-right:10px;
    color:#737373;
    letter-spacing: 0.12em;
    padding-top:2px;
}

#findus .socialbutton{
    float:left;
    margin-right:10px;
}

#search{
    float:right;
    margin-right:45px;
    width:350px;
    position:relative;
    height:45px;
}
#bodysearch{
    position:relative;
    width:355px;
    height:40px;
    margin-bottom:30px;
}

.search label{
    display:block;
    position:absolute;
    top:6px;
    color:#4c4c4c;
    letter-spacing: 0.12em;
    font-size:11px;
    font-weight:600;
}

.search input{
    border:1px solid #7f7f7f;
    padding:2px 10px;
    width:273px;
    height:24px;
    right:0;
    top:0px;
    position:absolute;
    z-index:1;
}

.search button{
    z-index:2;
    position:absolute;
    top:6px;
    right:6px;
    height:17px;
    width:13px;
    text-indent:-999em;
    cursor:pointer;
    background:url(../img/design/search.png) left top no-repeat;
    border:none;
}

#maincta{
    float:right;
    text-align:center;
    margin-top:-5px;
}
.rewards #maincta{
    margin-top:12px;
}

#maincta .cta{
    background-image:none;
    padding:10px 23px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 24px;
    border-right:1px solid #95c96a;
}

#maincta span{
    font-size:11px;
    opacity:0.7;
}

#footer{
    background:#243a7b;
    color:white;
    padding:15px 0;
    margin-top:30px;
}

#footer .container{
    opacity:0.5;
    font-size:11px;
}

#footer .container .left{
    float:left;
    width:635px;
    margin-left:190px;
}

#footer .container .left ul{
    float:left;
    width:125px
}

#footer .container .left ul a{
    color:white;
    text-decoration: none;
}
#footer .container .left ul a:hover{ opacity:0.5; }

#footer .container .right{
    float:left;
}


/* GENERIC STUFF */

input, textarea, select{
    font-family: 'Open Sans', sans-serif;
}

.clr{
    clear:both;
}

em, i{
    font-style: italic;
    font-weight:inherit;
}

strong, b{
    font-weight: bold;
}

strong.underline{
    text-decoration: underline;
}

a{
    color:#3480e3;
}

.smallprint{
    clear:both;
    font-size:9px;
    opacity:0.7;
    padding:1em 0;
}

.cta{
    display:block;
    background:#79bb43 url(../img/design/whitetri.png?v3) right center no-repeat;
    border:1px solid #95c96a;
    border-right:10px solid #79bb43;
    font-size:12px;
    font-weight:600;
    letter-spacing: 0.12em;
    color:white;
    padding:6px 31px 6px 17px;
    text-decoration: none;
    cursor:pointer;
    text-shadow:1px 1px 1px #7A7A7A;

    background-image:none;
    padding:6px 25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-right:1px solid #95c96a;
}
.cta:hover{
    opacity:0.7;
}
.cta.invert{
    color:#f3971a;
    font-weight:700;
    font-size:14px;
    background:white url(../img/design/arrow-orange.jpg) right center no-repeat;
    border-color:white;
    border-top:none;
    border-left:none;
    border-bottom:none;
    width:auto;
    padding:0 17px 0 0;
    display:inline;
    text-shadow:none;
}
.cta.green{
    color:#5095eb;
    background:white url(../img/design/blue-arrow.png) right center no-repeat;
    border-color:white;
    padding:10px 20px 10px 10px;
    text-shadow:none;
}
.cta.green2{
    color:#8ed328;
    background:white url(../img/design/arrow-green.png) right center no-repeat;
    border-color:white;
    text-shadow:none;
}
.cta.invertwrap{
    text-align:center;
}
.cta.transparent{
    border:none;
    background-color:transparent;
    width:95px;
    padding-left:0;
    white-space:nowrap;
}
.cta.inline{
    display:inline;
}
.cta.learnmore{
    font-size:14px;
    padding-left:0;
}

h1{
    font-size:32px;
    letter-spacing: 0.12em;
    text-align:center;
    margin:35px 0;
    color:#a5a5a5;
}
h1.subtext{
    font-size:28px;
    margin-top:20px;
}

h2{
    font-size:32px;
    letter-spacing: 0.12em;
    text-align:left;
    margin:35px 0;
    color:#a5a5a5;
    text-transform: uppercase;
}

h3{
    font-size:24px;
    letter-spacing: 0.12em;
}

h4{
    font-size:24px;
    letter-spacing: 0.12em;
}
h4.mini{
    font-size:16px;
    color:#737373;
    font-weight:600;
}
.brochure h4{
    letter-spacing:0;
}

h5{
    font-size:12px;
    font-weight:600;
    letter-spacing: 0.12em;
    margin-top:1em;
}

h5 a{
    text-decoration: underline;
    font-weight:bold;
    color:#4c4c4c;
}

h6{
    font-size:16px;
    font-weight:700;
    color:#248dd7;
    letter-spacing: 0.12em;
    margin-bottom:5px;
}

h6 a{
    color:#737373;
    text-decoration:none;
}

p{
    margin-bottom:1em;
}
.byline{
    font-size:18px;
    font-weight:300;
    margin-top:1em;
}

#right hr{
    color:#999999;
    background:#999999;
    border:none;
    height:1px;
    margin:35px 0;
}

/* CONTENT */

.promo{
    width:100%;
    visibility:hidden;
}
.promo.fadeasel{
    position:relative;
}

.promo.fadeasel a{
    display:block;
    float:left;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.promo.fadeasel a:nth-child(1){
    z-index:2;
}
.promo.fadeasel a:nth-child(2){
    z-index:1;
}

.promo a img{
    width:100%;
    max-height:400px;
}

.promo > img{
    width:100%;
}

.selnav{
    position:absolute;
    top:417px;
    left:40px;
    z-index:4;
}
.rewards .selnav{
    top:444px;
}

/*.rewards .selnav{
    top:561px;
}*/

.selnav li{
    float:left;
    margin-right:20px;
}

.selnav li a{
    opacity:0.8;
    display:block;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:white;
    color:#666666;
    text-decoration: none;
    height:30px;
    padding-top:10px;
    font-size:18px;
    font-weight:600;
    font-size:14px;
    letter-spacing:2px;
    width:190px;
    text-align: center;
}
.selnav li a:hover{ opacity: 0.7; }
.selnav li a:active{ opacity: 0.6; }

.selnav li.active a{
    color:white;
    background-color:#75b6ff
}

.video{
    float:left;
    margin-left:10px;
}

.threesteps{
    margin:30px 0;
    float:left;
    clear:both;
    width:872px;
}
.threesteps.fullwidth {
    margin:30px auto;
    width:750px;
    float:none;
}

.threesteps .step{
    float:left;
    padding:0 5px 0 13px;
    width:205px;
    border-right:1px solid #dadada
}
.threesteps .last.step{ border:none; }
.threesteps.fullwidth .step{ width:230px; }

.threesteps .step img{
    float:left;
    margin-right:5px;
}

.threesteps.fullwidth .step img{
    margin-right:10px;
}

.threesteps .step span{
    opacity:0.85;
}

.threesteps .cta{
    float:right;
}

.boxes{
    width: 100%;
    position:relative;
    margin-bottom:40px;
}

.boxes .arrow{
    position:absolute;
    left:-16px;
    top:120px;
    width:27px;
    height:55px;
    background:url(../img/design/sliderleft.png) left top no-repeat;
    text-indent: -999em;
    display:none;
}
.boxes:hover .arrow{
    display:block;
}
.boxes .arrow:hover{
    opacity:0.7;
}

.boxes .right{
    left:auto;
    right:-16px;
    background:url(../img/design/sliderright.png) left top no-repeat;
}

.boxsliderwrapper{
    overflow:hidden;
    height:446px;
    padding:5px 0;
    position:relative;
}

.boxslider{
    position:absolute;
    top:5px;
    left:0;
    width:2646px;
}

.box{
    margin-right:10px;
    float:left;
    border:1px solid #666666;
    position:relative;
    text-align:center;
    padding:9px 0 4px;
}
.box.last{ margin:0; }
.smallboxes .box{ padding:7px 0 3px; }
.mediumboxes .box{ padding:7px 0 3px; }
.bigbox{ padding:9px 9px 4px; }

.box h5{
    display:block;
    position:absolute;
    text-align:center;
    top:-11px;
    left:0;
    width:100%;
    font-size:14px;
    font-weight:600;
    letter-spacing: 0.12em;
    margin:0;
}
#horidlform h5{ top:-30px; }
.smallboxes .box h5{top:-12px;}
.mediumboxes .box h5{top:-13px;}
.bigbox h5{
    font-size:22px;
    top:-22px;
}

.box h5 a, .box h5 span{
    background:white;
    padding:0 7px;
    color:#737373;
    text-decoration: none;
    line-height:1.5;
}
.smallboxes .box h5 a{ font-size:12px; }
.bigbox h5 span{  }

.box p{
    text-align:left;
    margin:1em auto;
}
.box .invertwrap{
    text-align: center;
}

.mediumboxes .box img{
    width:241px;
}

.boxwrapper{
    width:284px;
    margin-right:10px;
    float:left;
}
.smallboxes .boxwrapper { width:209px; margin-top:30px; margin-right:12px; }
.smallboxes .boxwrapper:nth-child(4n), .mediumboxes .boxwrapper:nth-child(4n) { margin-right:0 }
.threeacross .boxwrapper:nth-child(3n) { margin-right:0 }
.threeacross .boxwrapper:nth-child(3n+1) { clear:left }
.mediumboxes .boxwrapper { width:257px; margin-top:30px; margin-right:10px; }

.threeacross p{
    margin:0.5em 0 2em
}

.boxwrapper.last { margin:0; }

.boxwrapper .box{
    margin:0;
    float:none;
}

#horidlform{
    width:calc(100% - 50px);
    padding:25px 25px 10px;
    margin:0 0 40px;
    float: none;
    background:#e8f5fe;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.5);
}

#horidlform .inputbox{
    padding:10px 19px;
    color:#c5c5c5;
    border:1px solid #b2b2b2;
    float:left;
    margin-right:32px;
    font-size:16px;
    letter-spacing: 0.12em;
    width:262px;
}
#horidlform .inputbox.smartedit{
    color:#7c7c7c
}
.internal #horidlform .inputbox{
    width:225px;
}

#horidlform .cta{
    float:right;
    margin-top:5px;
    padding:6px 25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-right:1px solid #95c96a;
    background-image:none;
    font-size:15px;
}

#horidlform .checkarea{
    float:right;
    width:200px;
    margin-top:5px;
}

#horidlform .checkarea .check{
    float:left;
}

#horidlform .checkarea label{
    font-size:9px;
    opacity:0.7;
    float:left;
    display:block;
    margin-left:5px;
    text-align:left;
    width:165px;
}

.callout{
    background:#e3f2ff;
    padding:20px;
    text-align: justify;
    margin-bottom:30px;
    float:left;
    width:calc(50% - 40px);
}

.callout h6{
    margin:0 0 0.8em;
    font-size:14px;
    font-weight:600;
    color:#737373;
    text-align: center;
    display:block;
}

.callout p{
    padding:0 3em 1em;
}

.callout .invertwrap{
    margin-bottom:0;
    text-align:center;
}

.carousel{
    width: 100%;
    position:relative;
    height:410px;
}
.dots{
    margin-bottom:90px;
}

.sliderwrapper{
    overflow:hidden;
    position:relative;
    height:410px;
}

.slider{
    position:absolute;
    top:0;
    left:0;
    height:410px;
}

.slider .item{
    float:left;
}

.carousel .arrow{
    position:absolute;
    left:10px;
    top:176px;
    width:29px;
    height:58px;
    background:url(../img/design/arrow-left.png) left top no-repeat;
    text-indent: -999em;
    display:none;
    z-index:1;
}
.carousel:hover .arrow{
    display:block;
}
.carousel .arrow:hover{
    opacity:0.7;
}
.carousel .right{
    left:auto;
    right:10px;
    background:url(../img/design/arrow-right.png) left top no-repeat;
}

.carousel .dotgroup{
    width:auto;
    margin:18px auto 0;
}

.carousel .dotgroup .dot{
    width:12px;
    height:12px;
    text-indent: -999em;
    background:url(../img/design/dot.jpg) left top no-repeat;
    opacity:0.5;
    float:left;
    margin-right:10px;
}
.carousel .dotgroup .dot.active{
    opacity:1;
}

.testimonaialset{
    width:calc(50% - 50px);
    float:right;
}

.testimonaialset h5{
    text-align:center;
}

.testimonaialset h5 a{
    color:#737373;
    font-weight:600;
}

.testimonial{
    padding:15px 25px;
    width:410px;
}

.testimonial .quote{
    font-size:31px;
    color:#a9a9a9;
    padding:17px 25px 0 25px;
    background:url(../img/design/quote-start.png) left top no-repeat;
    text-align:left;
    letter-spacing:-1px;
    line-height:1;
    font-weight:300;
}

.testimonial .speaker{
    font-style: italic;
    font-size:18px;
    color:#a9a9a9;
    text-align:right;
    padding-right:25px;
}

#theatre{
    width:100px;
    height:100px;
    position:fixed;
    z-index:99998;
    background:black;
    opacity:0.7;
    filter:alpha(opacity=70);
    top:0;
    left:0;
    display:none;
}

.lightbox{
    position:fixed;
    top:120px;
    background:white;
    z-index:99999;
    display:none;
    padding:10px;
}

.lightbox .close{
    float:right;
    text-indent: -999em;
    width:19px;
    height:19px;
    background:url(../img/popup/x.jpg) left top no-repeat;
}

#lightbox_download{
    width:370px;
    text-align: left;
    padding:0 45px;
}

#lightbox_download p{
    font-weight:300;
    margin-top:1em;
}

#lightbox_download h4{
    font-size:16px;
    margin-bottom:1em;
}

#lightbox_download label{
    font-size:16px;
    margin-bottom:0;
    display:block;
    margin-bottom:5px;
}

#lightbox_download .inputbox{
    border:1px solid #919191;
    padding:5px;
    display:block;
    width:360px;
    margin-bottom:1em;
}

#lightbox_download .checkarea .check{
    float:left;
    margin-right:5px;
}

#lightbox_download .checkarea label{
    font-size:9px;
    opacity:0.7;
    float:left;
    display:block;
}

#lightbox_download .cta{
    float:left;
    margin-top:5px;
}

.banner{
    position:relative;
    width:auto;
    height:260px;
    border:1px solid #666666;
    background-position:left top;
    background-color:white;
    background-repeat:no-repeat;
    background-size:contain;
    margin-bottom:20px;
}
.banner.allimg{
    height:187px;
    border:none;
}
.banner.textbanner{
    border:none;
    height:auto;
}

.banner .content{
    position:absolute;
    top:75px;
    left:45px;
    text-align:left;
}
.square.banner .content{ display:block; }
.banner.allimg .content{ display:none; }
.textbanner .content{
    position:static;
    top:auto;
    left:auto;
    text-align: center;
    width:100%;
}

.banner h3{
    font-size:32px;
    opacity:0.6;
    color:#4c4c4c;
    width:360px;
}

.banner h4{
    font-size:32px;
    opacity:0.6;
    color:#000000;
    font-weight:300;
    font-size:16px;
    width:360px;
}

.textbanner .content h3, .textbanner .content h4{
    width:auto;
}

.faqpage .faqsol_container{
    min-height:0px;
    padding-bottom:60px;
    width:auto;
}

.faqpage .faqsol_container h2{
    margin-top:0;
}

.faqpage .faqsol_container .faqsol_prioritysol, .faqpage .faqsol_container .faqsol_searchbar, .faqpage .faqsol_container .sol_browse_head_desc, .faqpage #result_head_search_form{
    width:auto;
}

.faqpage .faqsol_container #faqsol_search_label{
    display:block;
}

.faqpage .faqsol_container .result_head_uppersearchbar{
    width:auto;
}

.faqpage h2.sectionheader{
    margin-left:0;
}

.faqpage .sol_result_head{
    padding:0;
    float:none;
}

.faqpage .sol_result_head_title{
    clear:both;
    margin-top:10px;
}

.faqpage #result_head_search_form{
    float:left;
    clear:both;
}

.faqpage .result_head_uppersearchbar{
    padding-top:0;
}

.faqpage .sol_result_body{
    margin-top:10px;
    padding:0;
}

.faqpage .faqsol_result_container{
    padding:0;
    margin-top:20px;
}

.rate_form{
    display:none;
}

.callouts{
    clear:both;
}

.calloutblock{
    position:relative;
    width:433px;
    height:348px;
    margin-right:6px;
    background-color:#f3f3f3;
    background-repeat:no-repeat;
    background-position:right bottom;
    float:left;
}
.calloutblock.last, .calloutblock:last-child{ margin:0; }
.retail .calloutblock {
    width:527px;
    height:255px;
}

.calloutblock .contents{
    position:absolute;
    left:32px;
    top:30px;
    padding-right:15px;
}

.calloutblock h4{
    font-size:24px;
}

.calloutblock h5{
    font-weight:300;
    font-size:18px;
    letter-spacing: normal;
    line-height:1.1;
}

.calloutblock p{
    margin:1em 0 0;
}

#adminform label{
    font-weight:bold;
}
#adminform .inputbox{
    clear:both;
    width:859px;;
    border:1px solid silver;
    padding:5px;
    font-family:Courier New, Courier, Monotype;
    font-size:12px;
    background:#f5f5f5;
}
#adminform textarea.inputbox{
    height:400px;
}
#adminform .pretendhidden{
    font-family:Courier New, Courier, Monotype;
    display:block;
}

#adminform .redbutton{
    background:red;
    border:none;
    color:white;
    float:left;
    font-weight:700;
    padding:5px 10px;
    cursor:pointer;
}

#adminform .shiny-blue{
    background:purple;
    border:none;
    color:white;
    float:left;
    font-weight:700;
    padding:5px 10px;
    cursor:pointer;
}

#adminform .cupid-green{
    background:green;
    border:none;
    color:white;
    float:right;
    font-weight:700;
    padding:5px 10px;
    cursor:pointer;
}

.message, .error{
    background:#92fe7f;
    border:1px solid green;
    color:black;
    font-weight:bold;
    text-align:center;
    padding:5px;
}

.error{
    background:#ffa267;
    border:1px solid red;
}

#emailForm label, #rewardForm label, #gvformID label, #bulkForm label{
    clear:both;
    display:block;
    color:#737373;
    font-weight:600;
    font-size:16px;
    letter-spacing: 0.12em;
}

#emailForm .inputbox, #rewardForm .inputbox, #gvformID .inputbox, #bulkForm .inputbox{
    clear:both;
    display:block;
    margin-bottom:20px;
    width:400px;
    padding:5px;
    font-size:14px;
    border:1px solid #7f7f7f;
}
#gvformID .inputbox{ width:100%; }

.blogitem{
    border-bottom:1px solid #999999;
    padding-bottom:10px;
    margin-bottom:20px;
    padding-top:20px;
}

.blogitem img{
    max-width:100%;
    height:auto;
}

.bloghead h4, .blogdate{
    font-size:14px;
    text-transform: uppercase;
    font-weight:600;
    color:#b39494;
}
.blogdate{
    text-decoration: underline;
}

.bloghead h3 a{
    color:#4c4c4c;
    text-decoration: none;
}

.blogbody{
    padding:0 20px;
}

.blogsocial .readmore, .blogsocial > span{
    float:left;
    color:#808080;
    font-weight:700;
    text-decoration: none;
    letter-spacing: 0.12em;
    margin-top:5px;
}
.blogsocial > span{
    margin-top:35px;
}

.blogsocial .readmore:hover{
    opacity:0.5;
}

.blogsocial .sharecomments{
    float:right;
}

.blogsocial .sharecomments .numcomments{
    font-style: italic;
    font-size:14px;
    font-weight:300;
    color:#4c4c4c;
    text-decoration: none;
    opacity:0.5;
    float:right;
    clear:both;
}

.blogsocial .sharecomments a:hover{
    opacity:0.25;
}

.blogsocial .shareblog{
    display:block;
    margin-bottom:5px;
}

.blogsocial .shareblog span{
    color:#808080;
    font-weight:700;
    font-size:14px;
    letter-spacing: 0.12em;
    display:block;
    float:left;
    padding-top:5px;
}

.blogsocial .shareblog .fb{
    text-indent: -999em;
    overflow:hidden;
    background:url(../img/blog/icon-fb.jpg) left top no-repeat;
    width:30px;
    height:29px;
    display:block;
    float:left;
    margin:0 8px;
}

.blogsocial .shareblog .tw{
    text-indent: -999em;
    overflow:hidden;
    background:url(../img/blog/icon-twit.jpg) left top no-repeat;
    width:30px;
    height:29px;
    display:block;
    float:left;
}

.blogsocial .shareblog a:hover{
    opacity:0.5;
}

#pagination .pagenav{
    color:#808080;
    text-decoration: none;
    font-size:18px;
    font-weight:700;
    display:block;
    float:right;
    letter-spacing: 0.12em;
}
#pagination .prevlink{
    float:left;
}
#pagination .pagenav:hover{
    opacity:0.5;
}

.numstep{
    padding-left:55px;
    min-height:42px;
    background-position:left top;
    background-repeat: no-repeat;
    font-size:18px;
    font-weight:300;
}

#gvformID{
    width:100%;
}

.brochures{

}

.brochure, .allleft .brochure.odd{
    margin-bottom:5px;
    width:100%;
    height:383px;
    clear:both;
    background-position:right center;
    background-size:contain;
    background-repeat:no-repeat;
    background-color:#e8f5fe;
    text-align:left;
}
.brochure.odd{
    background-position:left center;
    background-color:#f4f4f4;
    text-align:right;
}
.brochures.invert .brochure, .brochures.invertcolour .brochure{
    background-color:#f4f4f4;
}
.brochures.invert .brochure.odd, .brochures.invertcolour .brochure.odd{
    background-color:#e8f5fe;
}
.brochure.video{
    text-align: center;
    margin:0 0 5px;
}

.brochure.video h5{
    margin:0;
}

.brochure.video .vidholder{
    max-width:587px;
    margin:0 auto;
}

.brochure.video iframe{
    width:100%;
    height:330px;
    margin:0 auto;
}

.brochure .content, .allleft .brochure.odd .content{
    padding-left:45px;
    width:400px;
    float:left;
}
.brochure.odd .content{
    padding-right:45px;
    padding-left:0;
    float:right;
}

.brochure .content h4, .splitsteps .step h4{
    font-size:18px;
    font-weight:300;
    margin-top:1em;
    line-height:1.2;
}

.brochure .content p, .splitsteps .step p{
    font-size:15px;
    font-weight:300;
}

.brochure h5{
    text-align:center;
    font-size:14px;
    padding:10px;
    opacity:0.7;
}

.brochures.steps{

}

.brochures.steps .brochure{
    height:244px;
}

.brochures.steps .brochure .content{
    width:455px;
    margin-top:20px;
}

.brochures.steps .brochure .content span.step, .splitsteps .step span.step{
    font-size:14px;
    color:#808080;
    letter-spacing: 0.12em;
}

.brochures.steps .brochure .content h4, .splitsteps .step h4{
    line-height:1.2;
    letter-spacing:0;
}

.results li{
    margin-bottom:50px;
}

.results li span{
    background:#ffff90;
}

.downloadcta{
    width:872px;
    height:87px;
    background:url(../img/design/long-download.jpg) left top no-repeat;
    position:relative;
    cursor:pointer;
    margin-bottom:40px;
}
.mobilecta{
    background-image:url(../img/design/long-aw.jpg);
    height:100px;
    cursor:auto;
}

.downloadcta p{
    position:absolute;
    left:140px;
    top:40px;
    font-size:18px;
    font-weight:300;
}
.mobilecta p{
    left:121px;
    top:39px;
}

.downloadcta .cta{
    position:absolute;
    right:12px;
    top:38px;
    height:18px;
}
.mobilecta .cta{
    top:37px;
}

.pricinglist{

}

.pricinglist h3{
    margin-bottom:0;
    text-align:center;
}

.pricinglist h4{
    font-size:12px;
    font-weight:300;
    text-align:center;
    margin-bottom:20px;
}

.pricinglist .highlight{
    background:#e9f4ff;
    width:100%;
    padding:10px 0;
}

.pricinglist .lowlight{
    width:100%;
    padding:10px 0;
}

.pricinglist .product{
    text-align:right;
    width:225px;
    padding-right:35px;
    padding-top:0;
}

.pricinglist .product h4{
    text-align:right;
    margin:0;
    font-size:13px;
    font-weight:600;
}

.pricinglist .product p{
    font-size:13px;
    text-align:right;
    margin:0;
}

.pricinglist .spacer{
    width:260px;
}

.pricinglist .optcol{
    width:134px;
}

.pricinglist th.hdopt{
    background:url(../img/pricing/hd01.jpg) 45px 0px no-repeat transparent;
    padding-left:37px;
    min-height:22px;
    padding-top:0;
}

.pricinglist td.hdopt{
    width:171px;
}

.pricinglist th{
    text-align:center;
    font-weight:bold;
    font-size:14px;
    font-weight:600;
    padding:3px 0;
    vertical-align:top;
}

.pricinglist td{
    padding:3px 0;
    text-align:center;
    font-size:16px;
    vertical-align:top;
}

.pricinglist tbody th{
    text-align: left;
    padding-bottom:0;
}

.pricinglist .anchors{
    text-align:center;
    padding:1em 0;
}

.pricinglist .anchors a{
    color:black;
}

.pricinglist .extrapages td{
    text-align: left;
    font-size:14px;
}
.pricinglist .extrapages .product{
    text-align: right;
}

.pricinglist .extrapages p{
    margin:0;
}

.pricinglist .extrapages strong span{
    color:#ed1c24;
}

.pricinglist .extrapages tbody .optcol{
    width:165px;
}

.pricinglist .djipb .optcol{
    width:125px;
}

.pricinglist .subtext{
    text-align:center;
}

.pricinglist table h4{
    margin-bottom:0;
}

.pricinglist .foldup{
    margin-top:1.5em;
    display:none;
}
.pricinglist .trigger .handle{
    display:block;
    margin:10px auto;
    width:22px;
    height:11px;
    text-indent: -999em;
    background:url(../img/pricing/updown.png) left bottom no-repeat;
}
.pricinglist .trigger .handle.active{
    background:url(../img/pricing/updown.png) left top no-repeat;
}

.splitsteps{
    width:100%;
    margin-bottom:50px;
}

.splitsteps div.step{
    padding:15px 35px;
    background:#f0f0f0;
    width:361px;
    float:left;
    height:215px;
}
.splitsteps div.step.last{
    float:right;
}

.whyupgrade{
    display:block;
    position:relative;
    width:872px;
    height:130px;
    background:url(../img/products/photobooks/whyupgrade.jpg) left top no-repeat;
    margin:10px 0;
}
.calupgrade{
    background:url(../img/products/calendars/whyupgrade.png) left top no-repeat;
}

.whyupgrade p{
    position:absolute;
    left:198px;
    top:60px;
    font-size:18px;
    font-weight:300;
}
.calupgrade p{ left:196px; }

.whyupgrade .cta{
    position:absolute;
    left:198px;
    top:90px;
}
.calupgrade .cta{ left:196px; }

.whyupgrade .dl{
    left:631px;
    top:50px;
}
.calupgrade .dl{ left:629px; }

#retailform{
    float:left;
    padding:70px 0 0 130px;
    width:390px;
}

#retailform .cta.invert{
    padding-left:0;
    background-color:transparent;
}

#retailform p{
    margin-bottom:2em;
}

#retailform label{
    font-size:16px;
    font-weight:600;
    display:block;
    float:left;
    margin-right:25px;
}

#retailform .inputbox{
    border:1px solid #919191;
    padding:2px;
    display:block;
    width:auto;
}

#retailform .fieldlike{
    font-size:16px;
    font-weight:300;
}

#retailform #total{
    color:#248dd7;
    font-weight:700;
    font-size:16px;
}

.howtovouchers{
    margin-top:35px;
}

.howtovouchers .howtopart{
    float:left;
    width:340px;
    margin-left:45px
}

.howtovouchers .voucherpart{
    float:right;
    margin-right:75px;
}

.whyupgradetitle{
    width:254px;
    height:32px;
    background:url(../img/callouts/why-upgrade.jpg) left top no-repeat;
    background-size:contain;
    text-indent:-999em
}

.fullwidth .brochures{
    width:757px;
    float:right;
}

.blogpost{
    width:100%;
}

.blogpost img{
    max-width:100%;
    height:auto;
}

.dli{
    display:none;
}

.dlinstructions{
    list-style-type: disc;
}

.dlinstructions li{
    margin-left:20px;
    margin-top:1em;
}

.dl-thankyou-requirement{
    margin:1em 0;
    float:left;
    width:50%;
}

#clickdesk-chat-w-footer{
    display:none;
}

#ClickdeskprechatForm{
    padding-top:0 !important;
}

.promotions h3{
    margin:1em 0;
}

.promotions p{
    font-size:15px;
    margin-top:1em;
}

.promotions p.smallprint{
    font-size:12px;
}

#lightboximagehover, #lightboxiframehover{
    width:90%;
    max-width:900px;
    height:506px;
    max-height:506px;
    padding:5px;
    position:fixed;
    top:120px;
    background:#1a1a1a;
    z-index:99999;
    display:none;
}

#left .module .box{
    width:178px;
}

#left .module .box p{
    margin:0.5em auto;
}

.persistentnow{
    position:fixed;
    top:0;
    left:auto;
}

#mobilecta{
    width:250px;
    text-align:left;
    position:absolute;
}

#mobilecta .header{
    font-size:16px;
    font-weight:bold;
    text-align:center;
}

#mobilecta .cta{
    width:75%;
    padding:8px 15px;
    border-radius:25px;
    margin:0 auto;
}

#mobilecta .appcta{
    font-size:11px;
    background:url(../img/popup/app-icon.jpg) left top no-repeat;
    padding-left:75px;
    padding-top:13px;
    height:47px;
}

.mobileonly{
    display:none;
}

#menumobilecta{
    text-align:center;
    padding:10px 30px;
    font-weight:300;
    font-size:16px;
}

.auauau{
    background:url(../img/design/australia.png) right center no-repeat;
    padding-right:25px;
    margin-right:25px;
}

.fader{
    position:relative;
}

.fader a{
    display:none;
}
.fader a:first-child{
    display:inline;
}
.fader a.fading{
    z-index:1;
    position:absolute;
    top:0;
    left:0;
}

.nointernals #leftmenu, .nointernals #topmenu{
    display:none;
}

.nointernals #search{
    visibility:hidden;
}

.nointernals #left .module{
    margin:0;
}

.pbbanner img{
    width:100%;
}

.threekey{
    margin:30px 0;
}

.threekey .explanation{
    float:left;
    width:250px;
}

.threekey .key{
    float:left;
    text-align: center;
    width:230px;
}

.threekey .key h5{
    margin-bottom:1em;
}

.threekey .key .cta{
    padding-left:20px;
    font-size:14px;
}

ul.list{
    list-style-type: disc;
    margin:1em 18px;
}

.clicker{
    cursor:pointer;
}

#elevioWidget .elevio-chat-block #habla_offline_submit_input{
    background-color: #79bb43 !important;
}
#habla_middle_div + div{
    display:none !important;
}

[data-elevio-article], [data-elevio-id], [data-elevio-module]{
    border:none !important;
}

.frontpage #left{
    display:none;
}

#right #leftmenu{
    position:absolute;
    top:0;
    left:0;
}

#right #leftmenu li{
    float:left;
    margin-right:50px;
    margin-top:-1px;
}
.rewards #right #leftmenu li{
    border:1px solid #bdd2ef;
    border-bottom:1px solid #bbd4ea;
    margin:0;
}
.rewards #right #leftmenu li:first-child{
    border-right:0;
}
.rewards #right #leftmenu > li:last-child{
    margin-left:20px;
    border:none;
    width:300px;
}
#right #leftmenu li:last-child{
    margin-right:0;
}

#right #leftmenu li a{
    padding-right:10px;
    height:37px;
    padding-bottom:0;
}
.rewards #right #leftmenu > li > a{
    padding:25px 30px 0;
    height:51px;
    border-top:1px solid #e1faff;
    border-left:1px solid #e1faff;
    background: #d2ebff; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2ebff 0%, #bfe3ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ebff), color-stop(100%,#bfe3ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2ebff 0%,#bfe3ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2ebff 0%,#bfe3ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2ebff 0%,#bfe3ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2ebff 0%,#bfe3ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebff', endColorstr='#bfe3ff',GradientType=0 ); /* IE6-9 */
}
.rewards #right #leftmenu > li:last-child > a:first-child{
    padding:12px 0 0 0;
    height:68px;
    background:none;
    border:none;
    float:left;
}
.rewards #right #leftmenu > li:last-child > a:first-child:hover{
    opacity:0.7;
}
.rewards #right #leftmenu > li:last-child > a:last-child{
    float:left;
    letter-spacing: 0;
    text-decoration: underline;
    padding: 0;
    margin: 29px 0 0 15px;
    font-size: 14px;
    background: none;
    border: none;
}
.rewards #right #leftmenu > li > a:hover{
    color:#85cbff;
}

#right #leftmenu li:hover .submenu{
    left:0;
    padding-left:0;
    top:50px;
    padding-top:18px;
    z-index:5;
}
.rewards #right #leftmenu li:hover .submenu{
    top:75px;
    left:-1px;
}

#right #leftmenu li .submenu .submenucontents li a{
    padding:13px 5px 13px 5px;
    padding:8px 5px;
    height:auto;
}

#right li .submenu .submenucontents.two{
    /* width:340px; */
}

.rewards #right #leftmenu li:hover .submenu li{
    border:none;
}


#right #leftmenu li li{
    float:none;
    margin-right:0;
    margin-top:4px;
}

#submain{
    width:940px;
    margin:0 auto;
    clear:both;
}
.internal #submain{
    width:872px;
}
.retail #submain, .nomenu #submain{
    width:100%;
}

#keyfeats{

}

#keyfeats .feat{
    float:left;
    margin-right:20px;
}
#keyfeats .feat.last{
    float:right;
    margin:0;
}

#keyfeats .feat h5{
    margin-bottom:10px;
    text-align:center;
    opacity:0.8;
}

#keyfeats .feat h5 a{
    color:#4c4c4c;
    text-decoration:none;
    font-size:24px;
    font-weight:300;
}

#keyfeats .feat p:last-child{
    text-align:center;
    margin: 10px 0 70px;
}

#vidcs{
    border-top:3px solid #e1e1e1;
    border-bottom:3px solid #e1e1e1;
    margin-bottom:60px;
}

#vidcs .col{
    float:left;
    margin:20px 0;
}
#vidcs .col:first-of-type{
    border-right:3px solid #e1e1e1;
    width:calc(50% - 3px);
}

#vidcs .col:first-of-type > a{
    float:left;
}

#vidcs .col:first-of-type p{
    text-align:center;
}

#vidcs .col:first-of-type p:first-of-type{
    margin-top:22px;
}

#vidcs .col:first-of-type .cta{
    color:#4c4c4c;
    opacity:0.8;
    background:none;
    border:none;
    padding:0;
    text-align:center;
}

#vidcs .col.last{
    width:calc(50% - 43px);
    padding-left:40px;
    padding-top:10px;
}

#vidcs .col.last a{
    display:block;
}

#vidcs .col.last a:first-of-type{
    float:left;
    display:block;
    margin-right:30px;
}

#vidcs .col.last .phone{
    margin-top:7px;
}

#vidcs .col.last .chat{
    margin-top:25px;
}

.floaters .boxwrapper{
    margin-right:44px;
}
.floaters .boxwrapper.last{
    margin-right:0;
}

.floaters .boxwrapper .box{
    border:none;
}

.floaters .boxwrapper .box h5{
    top:-20px;
}

#right .cutbackcontent{
    margin:45px;
    text-align: center;
    color:#858585;
}

#right .nomenucontent{
    color:#959595;
}

#right .cutbackcontent h2{
    text-align: center;
    font-weight:700;
    font-size:30px;
    letter-spacing:0;
    margin-bottom:1em;
    color:#858585;
    text-transform: none;
}

#right .cutbackcontent h3, #right .nomenucontent h3{
    font-weight:600;
    font-size:21px;
    letter-spacing:0;
    margin-bottom:1em;
}
#right .cutbackcontent h3.left{
    text-align:left;
}
#right .cutbackcontent h3.left .right{
    float:right;
}
#right .nomenucontent h3{
    text-align: center;
    font-weight:400;
    margin:1em;
}
#right .nomenucontent h3 em span{
    font-style: normal;
}

#right .cutbackcontent h3.left .right img{
    padding-left:10px;
    height:20px;
}

#right .cutbackcontent h4, #right .nomenucontent h4{
    margin-bottom:12px;
    letter-spacing:0.1em;
    font-weight:600;
    font-size:21px;
}
#right .cutbackcontent h4.sectionhead{
    background:#ebebeb;
    text-align: left;
    font-weight:400;
    padding:5px 10px;
}
#right .nomenucontent h4{
    font-weight:600;
    margin:1em 0;
}

#right .cutbackcontent hr{
    margin-left:-25px;
    width:calc(100% + 50px);
}

#right .cutbackcontent .balance{
    color:#f5b52d;
    font-weight:700;
    font-size:36px;
    margin-bottom:10px;
}

.rewards{
    text-align: center;
}

.rewards #rewardForm{
    width:100%;
    max-width:500px;
    margin:0 auto;
}

.rewards #rewardForm label, .rewards #rewardForm .inputbox{
    text-align:left;
    width:100%;
}

.terms{
    list-style-type: decimal;
    margin-left:30px;
}

.terms ol{
    list-style-type: lower-alpha;
    margin-left:30px;
}

.terms li{
    margin:0 0 1em;
}

.ownotice{
    background:#e3f2ff;
    border:1px solid #8f8f8f;
    color:#8f8f8f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    margin-top:1em;
}

.ownotice div{
    float:left;
    font-weight:600;
    padding:15px 40px 10px 25px;
    text-align: center;

}

.ownotice p{
    margin:0;
}

#centeradmin {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}
#centerblock {
    width: 872px;
}