@media only screen and (max-width: 1100px) {
    .prodwiz{
        width:690px;
        margin:0 auto;
    }
    .prodwiz .prodwiztheatre{
        width:637px;
    }
    .prodwiz .prodwiztheatre .wizstagecontainer .wizstage{
        width:637px;
    }
    .phodwiz{
        width:690px;
        margin:0 auto;
    }
    .phodwiz .phodwiztheatre{
        width:637px;
    }
    .phodwiz .phodwiztheatre .wizstagecontainer .wizstage{
        width:637px;
    }
    #horidlform{
        width:90%;
    }

    header #primary #sitemenu .dropdown.hoverdropdown{
        width:100%;
        left:0;
        transform:none;
    }
    .dropdown .submenu li:first-of-type{
        margin-left:16px;
    }
    .dropdown .hoverstuff{
        width:800px;
    }
    .powerheader{
        height:110px;
    }
    .dropdown .submenu.dummypers, .dropdown .submenu.likepers{
        padding: 0 20px;
    }
}

@media only screen and (max-width: 975px) {
    .nomobile{ display:none !important; }
    .mobileonlyblock{ display:block !important; }
    .mobileonlyinline{ display:inline !important; }
    .mobileonlyinlineblock{ display:inline-block !important; }
    .mobileonlythead{ display:table-header-group !important; }

    #_elev_io{
        display:none;
    }

    header #promostrip #promostripcontents .promoitem{
        width:485px;
        max-width:96%;
        float:none;
        clear:both;
        margin:0 auto 10px;
    }

    header #promostrip #promostripcontents .promoitem p {
        width: calc(100% - 40px);
    }
    
    header #strip #topmenu > a.left, header #strip #topmenu > a#topcontact{
        text-indent:-999em;
        width:19px;
        padding-right:0;
        background-position:center center;
    }

    footer #footercontainer{
        padding-top:0;
    }
    
    footer #footercols{
        padding-top:1px;
    }
        
        footer #footercols .col{
            display:none;
        }
        
        footer #footercols .widecol{
            display:block;
            width:100%;
            margin:0;
            padding:0;
            float:none;
        }
        
            footer #footercols .widecol .trustpilot-widget{
                display:none;
            }
        
            footer #footercols .widecol #social{
                text-align:center;
            }

            footer #lcqualitybadge {
                text-align: center;
                margin-top: 15px;
            }
        
    footer p{
        text-align:center;
        padding-top:1em;
    }
    
    .tooltip span{
        padding-right:0;
        background:none;
    }
    
.prodpanel, .prodpanel.hastext{
    height:auto;
    background:#e6e6e6 !important;
}

    header #primary #sitemenu{
        margin-top:10px;
    }

    header #primary #sitemenu > span{
        display:inline-block;
        margin:12px 12px 0;
    }
    header #primary #sitemenu a.cta{
        padding:5px 10px;
    }

    header #primary #sitemenu .dropdown{
        top:60px;
    }

    .hastext .text, .hastext .text.leftside{
        left:auto;
        right:6%;
        width:calc(88% - 60px);
        max-width:100%;        
    }
    .prodpanel.hastext .text, .prodpanel.hastext.rightimg .text{
        position:static;
        width:90%;
        max-width:90%;
        padding:30px 0;
        margin:0 auto;
        transform:none;
    }

        .prodpanel.hastext > img{
            float:none;
            width:100%;
            height:auto;
        }
        .prodpanel.hastext.leftimg > img{
            float:none;
        }
    
        .hastext.leader .text p{
            font-size:11.5px;
        }
        
    .panel.twoup{
        margin:30px 0;
    }
        
        .panel.twoup .subpanel{
            width:80%;
            max-width:100%;
            margin:0 auto 40px;
        }
        .panel.twoup .subpanel:last-child{
            margin-bottom:0;
        }
        
            .panel.twoup .subpanel h3{
                margin:1em 0;
            }
        
            .panel.twoup .subpanel p.description{
                height:auto;
                margin:0 5% 1.5em;
            }
            
            .panel.twoup .subpanel .thecta{
                margin:1em auto;
            }

    .introbox{
        text-align:center;
        margin:20px 0;
    }
            
        .introbox h2{
            background:white;
            line-height:1.3;
        }
        
        .introbox .content{
            float:none;
            margin:30px auto;
            width:90%;
            text-align:left;
        }

        .introbox .content p img:nth-child(1){ float:left; margin: 10px 0; }
        .introbox .content p img:nth-child(2){ float:right; margin: 10px 0; }
        .introbox .content p img:nth-child(3){ float:left; margin: 10px 0; }
        .introbox .content p img:nth-child(4){ float:right; margin: 10px 0; }

        .introbox > img{
            float:none;
            width:80%;
            margin:0;
        }

    .topcontainer .left, .topcontainer .right{
        float:none;
        width:calc(100% - 50px);
        padding:5px 0 5px 50px;
        margin:20px 0;
    }

    .bookmark{
        padding-top:0;
    }
    
    .picker{
        border:none;
    }
        
        .picker .pickeropts{
            float:none;
            width:92%;
            margin:0 4%;
        }
        
            .picker .pickeropts > div{
                display:block;
            }
        
                .picker .pickeropts .img img{
                    width:100%;
                }
                
                .picker .pickeropts h3{
                    text-align:center;
                    font-family: 'Merriweather', serif;
                    font-weight:600;
                    font-size:28px;
                    margin-bottom:15px;
                }
            
            
            
            
     
    /* ================================ CALC =================================== */ 
       
    #calculator{
        width:calc(100% - 60px);
        padding:40px 30px;
    }
    
        #calculator .threeup .radiooption{
            width:calc((100% - 16px) / 3);
            height:auto;
            padding-bottom:52px;
        }

        .bottom-up {
            padding-bottom: 5px !important;
        }

        .big-mobile {
            width: 100%;
        }

        .radioselecter.twoup .radiooption2 {
            height: 135px;
            padding: 3px;
        }
    
        #calculator .twoup .radiooption{
            width:calc((100% - 12px) / 2);
            height:auto;
            padding-bottom:52px;
            padding-right: 3px;
            padding-left: 3px;
        }

        .hd-icon {
            width: 32px !important;
        }
    
        #calculator .radiooption img{
            width:100%;
        }

            
        #calculator #paper section{
            width:100%;
            clear:both;
        }
        #calculator #paper section:last-child{
            border-top:1px solid #9ec2e4;
            border-left:0;
            float:none;
            width:100%;
        }
        
        #calculator #products h3{
            width:100%;
            float:none;
        }
        
        #products thead .dead{
            width:12%;
        }
        #products tbody th{
            width:12%;
            white-space:nowrap;
            padding-left:0;
            text-align:center;
            background-image:none !important;
        }
        
        #products tbody td{
            width:22%;
        }
        
        #prodheadings thead th, #prodvals thead th{
            width:auto;
        }
        
        #pages, #options{
            width:100%;
        }
        
            #options p{
                margin:1.5em 0;
            }
        
        #details{
            width:calc(100% - 40px);
            padding:20px;
            height:auto;
        }
        
        #totals{
            width:calc(100% - 40px);
            padding:30px 20px;
            border-left:none;
            border-top:1px solid #9bc2e3;
        }
        
        .persistent{
            width:96%;
            padding:0 2%;
        }
        .persistent a, .dummypers a, .likepers a{
	        display:none;
        }
        .hoverdropdown .dummypers a, .hoverdropdown .likepers a{
	        display:block;
        }
        .persistent a.cta, .dummypers a.cta, .likepers a.cta{
            display:inline-block;
        }
        
		.prodpres img, .prodpres.narrow img{
			float:none;
			width:80%;
			margin:0 10%;
            max-width:100%;
		}
	
		.prodpres .wording, .prodpres.narrow .wording{
			float:none;
			width:80%;
			margin:0 auto;
            max-width:100%;
		}
		
	.slider nav{
		text-align:center;
		width:100%;
		left:0;
	}

		
		.slider nav a{
			display:inline-block;
			margin:0 5px;
			padding:10px 0 20px;
			text-decoration: none;
		}
        
	.slider .slidewindow .slideholder .slide .content{
		left:5%;
		width:40%;
	}
    
        .vidslider .slider .slidewindow .slideholder .slide .content h3{
            text-align:center;
        }
	
	.leftright > div{
		margin-bottom:20px;
	}
	.leftright > div:nth-child(2n+0){
	}
	
		.leftright > div .content{
			width:90%;
			float:none;
			margin:40px 5%;
		}
		.leftright > div:nth-child(2n+0) .content{
			float:none;
		}
		
		.leftright > div > img,
		.leftright > div > .magnify{
			width:90%;
			float:none;
			margin:0 5%;
		}
		.leftright > div:nth-child(2n+0) > img,
		.leftright > div:nth-child(2n+0) > .magnify{
			float:none;
		}
		
	.selector .visual{
		width:90%;
		margin:0 5%;
		float:none;
	}
	
	.selector .clickers{
		float:none;
		width:96%;
		margin:20px 2%;
	}
	
		.selector .clickers p{
			text-align:center;
		}
	
		.selector .clickers .group > div{
			float:left;
			width:30%;
			margin-right:5%;
		}	
		.selector .clickers .group > div:last-child{
			margin-right:0;
		}
		
			.selector .clickers nav{
				margin-bottom:15px;
			}

				.selector .clickers nav a{
					margin:0 8px;
				}
			
	.semimodule{
		width:calc(90% - 150px);
		margin:0 5%;
	}
	.semimodule:nth-child(even){
		margin-right:5%;
	}

    .semimodule-2 {
        width: 100%;
        background-position: center right;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
	
main.static{
    width:calc(96% - 20px);
}
    
    .static .leadin{
	    width:90%;
	    margin: -30px auto 1em;
    }

.retail .ecommerce .images{
    float:none;
    width:calc(100% - 40px);
    max-width:calc(100% - 40px);
    min-width:calc(100% - 40px);    
    padding:0 20px;
}

    .retail .ecommerce .images .primary{
        width:100%;
    }
    
    .retail .ecommerce .images .others img{
        margin:10px 10px 0 0;
        width:22%;
    }

.retail .ecommerce .details{
    float:none;
    width:100%;
    max-width:100%;
    min-width:100%;
}

    .retail .ecommerce .details .about{
        margin-top:30px;
    }

    .retail .ecommerce .details .inputbox{
        min-width:auto;
    }
    
    .retail .ecommerce .details .likeabox{
        white-space:nowrap;
    }
    
    .psc .prices, .psc .shipping{
        float:none;
        width:90%;
        margin:0 0 50px;
        padding:0 5%;
    }
    
    .psc .prices table{
	    width:100%;
	    float:none !important;
    }

    .marquee .content, #contactpage .marquee .content{
        max-width:none;
        width:90%;
        float:none;
        margin:0 auto;
    }

    #topmsg{
        width:calc(100% - 20px);
        height: 285px;
    }

    .top-left{
        float:none; 
        margin:0 0px 0 0px;
    }

    .top-right {
        margin-right: 0px;
    }

    #blogmain{
        width:96%;
        margin:0 2%;
        float:none;
    }    
 
    .retail .ecommerce .details .inputbox, .retail .ecommerce .details .likeabox{
        clear:left;
        display:block;
    }
    
    .vouchermodules .semimodule{
        width:96%;
        margin:0 2%;
    }    

    .semimodule-2 {
        width: 100%;
    }
    
    main .faqsol_prioritysol, main .faqsol_container > .faqsol_searchbar, main .sol_browse_head_desc, main .result_head_uppersearchbar{
        width:100%;
    }

    .phodwiz .phodwiztheatre .wizstage h3 > span .back {
        margin: 7px 10px 0 -50px;
        width:20px;
    }

    .slider .arrow{
        display:none;
    }
    
    .mobileheight200{
        height:200px;
    }
    
    header #strip #topmenu{
        float:right;
        margin:0;
        width:calc(100% - 20px);
    }
    
    .productblock, .productblock:nth-of-type(3n+0){
        width:45%;
        margin-right:10%;
    }
    .productblock:nth-of-type(2n+0){
        margin-right:0;    
    }

    h2.blue{
        float:left;
    }
    dl.maindetails{
        float:left;
        margin-left:0;
        clear:left;
    }
        dl.maindetails dt{
            margin-top:1em;
        }
    dl.subdetails{
        margin-left:0;
        width:100%;
    }
    .albumshareinfo{
        float:none;
        margin:0 auto;
        width:100%;
        clear:both;
    }

    .phodwizselection .info, .phodwizselection .preview{
        float:none;
        width:calc(100% - 20px);
        margin-left:10px;
    }
    .phodwizselection .preview{
        margin-top:30px;
    }

    .leftleft .group{
        background:none !important;
    }

    .leftleft .group .rightside{
        float:none;
        display:block;
        width:100%;
        margin-bottom:20px;
    }

    .filtergallery .filter{
        display:none;
    }

    .filtergallery .gallery{
        width:100%;
    }

    #style2018 .phodwizselection .info{
        width:100%;
    }

    #style2018 .phodwizselection .preview{
        width:98%;
    }
}

@media only screen and (max-width: 500px) {
    .productblock, .productblock:nth-of-type(3n+0), .productblock:nth-of-type(2n+0){
        width:90%;
        margin-left:auto;
        margin-right:auto;
        float:none;
    }
    
    .productblock p{
        min-height:auto;
    }    
}

@media only screen and (max-width: 720px) {
    .introbox .content p.imgblock{
        text-align:center;
    }
        .introbox .content p img, .introbox .content p img:nth-child(1), .introbox .content p img:nth-child(2), .introbox .content p img:nth-child(3), .introbox .content p img:nth-child(4){
            clear:both;
            float:none;
            margin:10px auto;
        }
}

@media only screen and (max-width:850px) {
    body{
        padding-top:30px;
    }

    header #strip{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:89;
    }

    header #primary #sitemenu{
        position:fixed;
        left:-250px;
        height:calc(100% - 70px);
        background:white;
        margin-top:0;
        top:30px;
        text-align:left;
        z-index:1000;
        padding:40px 70px 0 35px;
        width:145px;
        overflow-y: scroll;
    }
    header #primary #sitemenu > span{
        display:block;
        margin:0 0 40px;
    }

    header #primary #sitemenu > span:last-of-type{
        display:none;
    }

    header #strip #topmenu{
        text-align:right;
    }

    header #strip #topmenu #tpx-basket-bar{
        float:right;
        padding-right:5px;
    }

    header #strip #topmenu a#tpx-register{
        display:none;
    }

    header #strip #topmenu a#tpx-signIn{
        width:0;
        text-indent:-999em;
        margin-left:0;
        overflow:hidden;
    }

    header #strip #topmenu a#tpx-projectslist{
        text-indent:-999em;
        width:0;
        padding-right:18px;
        overflow:hidden;
    }

    header #strip #topmenu > a.left, header #strip #topmenu > a.right{
        float:none;
        display:inline-block;
        margin:0 10px 0 10px;
        color:transparent;
        overflow:hidden;
    }

    header #strip #topmenu > a#hamburger{
        float:left;
        display:block;
        width:29px;
        height:29px;
        background-image:url(../img/nav/2019/wideburger.png);
        background-position: center center;
        background-size:contain;
        background-repeat: no-repeat;
        padding:0;
        margin:0;
    }
    header #strip #topmenu > a#hamburger.open{
        background-image:url(../img/nav/2019/closeburger.png);
        width:20px;
        height:20px;
        margin-top:5px;
    }

    header #primary #sitemenu .dropdown.hoverdropdown{
        position:fixed;
        top:30px;
        left:0;
        width:250px;
        height:calc(100% - 30px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    header #primary #sitemenu .dropdown.hoverdropdown .submenu.likepers{
        display:none;
    }

    header #primary #sitemenu .dropdown.hoverdropdown .hoverstuff{
        width:100%;
        margin:0;
        padding:0;
    }

    header #primary #sitemenu .dropdown.hoverdropdown .hoverstuff .col{
        width:calc(100% - 50px);
        height:auto;
        padding:25px 25px 0;
    }
    header #primary #sitemenu .dropdown.hoverdropdown .hoverstuff .previewcol{
        display:none;
    }

    header #primary #sitemenu .dropdown.hoverdropdown .hoverstuff .col h3{
        margin-bottom:15px;
    }

    header #primary #sitemenu .dropdown.hoverdropdown .hoverstuff .col ul{
        margin-left:10px;
    }

    header #primary #sitemenu .dropdown.hoverdropdown .hoverstuff .col ul li{
        margin-bottom:15px;
    }

    header #primary #sitemenu .dropdown.hoverdropdown .powercol{
        margin-bottom:10px;
    }

    header #primary #sitemenu .dropdown.hoverdropdown .powerheader{
        background:none !important;
        padding:0;
        height:auto;
    }

    header #primary #sitemenu .dropdown.hoverdropdown .hoverstuff .col .powerheader h3{
        margin-bottom:0;
    }

    header #primary #sitemenu .dropdown.hoverdropdown .powerheader p{
        display:none;
    }

}

@media only screen and (max-width:800px) {
    .prodwiz{
        width:100%;
    }
    .prodwiz .left.arrow{
        left:-28px;
    }
    .prodwiz .right.arrow{
        right:-28px;
    }
    .prodwiz .prodwiztheatre{
        width:637px;
    }
    .prodwiz .prodwiztheatre .wizstagecontainer .wizstage{
        width:637px;
    }
    .phodwiz{
        width:100%;
    }
    .phodwiz .left.arrow{
        left:-28px;
    }
    .phodwiz .right.arrow{
        right:-28px;
    }
    .phodwiz .phodwiztheatre{
        width:637px;
    }
    .phodwiz .phodwiztheatre .wizstagecontainer .wizstage{
        width:637px;
    }
    .threecols > div{
        float:none;
        width:calc(100% - 40px);
        margin:0 20px 40px;
    }

}

@media only screen and (max-width:650px) {
    .stripform .mailinglist label{
        display:block;
    }

    .stripform .mailinglist .inputbox{
        width:300px;
        margin:1em;
    }

    .stripform .mailinglist .cta{
        display:block;
        margin:0 auto;
        max-width:100px;
    }
}

@media only screen and (max-width: 1090px) {
    .promotions .promotion:nth-of-type(2){
        display:block;
        margin:0 auto 30px;
    }
}