/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

em{
    font-style: italic;
}

strong{
    font-weight: bold;
}

/* ==================== START ====================== */

.onlymobile, .mobileonlyblock{
    display:none;
}

body {
    font-family: 'Open Sans', sans-serif;
    color:#737373;
}

.cta{
    color:white;
    background:#7fd3aa;
    border:1px solid #00a650;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding:7px 15px;
    font-weight:700;
    display:inline-block;
    text-decoration:none;
    letter-spacing:1px;
    font-size:14px;
}
.cta:hover{
    opacity:0.8;
}
.cta.fit{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-image:none;
    border:none;
    white-space:nowrap;

}
.cta.invert{
    color:#f3971a;
    font-weight:700;
    font-size:14px;
    background:white url(../../img/design/arrow-orange.jpg) right center no-repeat;
    border-color:white;
    border-top:none;
    border-left:none;
    border-bottom:none;
    width:auto;
    padding:0 17px 0 0;
    display:inline;
    text-shadow:none;
}
.cta.green{
    color:#5095eb;
    background:white url(../../img/design/blue-arrow.png) right center no-repeat;
    border-color:white;
    padding:10px 20px 10px 10px;
    text-shadow:none;
}
.cta.green2{
    color:#8ed328;
    background:white url(../../img/design/arrow-green.png) right center no-repeat;
    border-color:white;
    text-shadow:none;
}
.cta.invertwrap{
    text-align:center;
}
.cta.transparent{
    border:none;
    background-color:transparent;
    width:95px;
    padding-left:0;
    white-space:nowrap;
}
.cta.inline{
    display:inline;
}
.cta.learnmore{
    font-size:14px;
    padding-left:0;
}

#header{
    text-align: center;
    position:relative;
}

#minitp{
    position:absolute;
    top:15px;
    left:20px;
}

#header .logo{
    display:inline-block;
    width:100%;
    max-width:469px;
    margin:19px auto;
}

.fullwidth{
    width:100%;
    margin:0;
    font-family:'Open Sans', sans-serif;
    font-weight:400;
    color:#3260b8;
    font-size:14px;
}
.fullwidth:after, .group:after {
    content: "";
    display: table;
    clear: both;
}

#topcontainer{
    display:table;
    width:100%;
}

#top{
    display:table-row;
}

#imagearea{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    width:calc(100% - 430px);
    display:table-cell;
    text-align:center;
}

#agent{
    background-position: bottom center;
    background-repeat:no-repeat;
    padding:30px 50px 220px 50px;
    width:330px;
    background-color:#f9f8fd;
    display:table-cell;
    vertical-align:top;
}

#agent p{
    margin-top:0.8em;
    line-height:1.5;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-weight:900;
    color:#2f65bf;
    font-size:58px;
    text-align: center;
    margin:65px 0 15px;
    padding:0 20px;
}

h2{
    font-family: 'Work Sans', sans-serif;
    font-weight:700;
    color:#2f65bf;
    font-size:14px;
    text-align: center;
}
#imagearea h2{
    margin-bottom:20px;
}

h3{
    font-weight:700;
    padding:17px 0 0 70px;
    height:56px;
    background-position:left center;
    background-repeat:no-repeat;
    line-height:40px;
}

#voucher{
    background:#3360bd;
    clear:both;
    padding:20px 0 30px;
}

    #voucher p{
        color:white;
        font-family: 'Work Sans', sans-serif;
        font-weight:500;
        text-align: center;
        font-size:27px;
    }

    #voucher p #code{
        font-size:27px;
        font-weight:700;
        padding:5px 10px;
        border:4px dashed white;
    }

    #voucher p a img{
        display:inline-block;
        margin-bottom:-15px;
    }

#trustpilot{
    padding:90px 10%;
    width:80%;
}

    #trustpilot #animated{
        width:calc(50% - 45px);
        float:left;
    }

    #trustpilot #tp{
        width:calc(50% - 45px);
        float:right;
    }

#footer{
    background:#1264ba;
    text-align: center;
    padding-top:65px;
}

#footer h1, #footer h2{
    color:white;
    margin-top:0;
}
#footer h2{
    margin:15px 0 45px;
}

#bookopts{
    margin:50px auto 70px;
    text-align:center;
}

#bookopts a{
    display:inline-block;
    margin-right:60px;
}

#bookopts a:nth-of-type(3){
    margin-right:0;
}

/* ================================================================================================================== */
/* ================================================================================================================== */
/* ================================================================================================================== */

@media only screen and (max-width: 1100px) {

    #bookopts a{
        margin-right:20px;
    }

}

@media only screen and (max-width: 1000px) {

    .nomobile{
        display:none;
    }
    .mobileonlyblock{
        display:block;
    }

    #topcontainer, #top, #imagearea, #agent{
        display:block;
        width:100%;
    }

    #imagearea
    {
        height:500px;
        padding-top:65px;
    }

    h1{
        margin-top:0;
    }

    #agent{
        width:calc(100% - 80px);
        padding-left:40px;
        padding-right:40px;
    }

    #voucher{
        padding:20px 0 40px;
    }

    #voucher p a img{
        margin-bottom:-25px;
    }

    #trustpilot{
        padding:30px;
        width:calc(100% - 60px);
    }

    #trustpilot #animated{
        width:100%;
        float:none;
    }

    #trustpilot #tp{
        width:100%;
        float:none;
        margin-top:30px;
    }

    #bookopts a{
        margin-right: 20px;
        display: block;
        margin: 0 0 20px 0;
    }

}