/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

em{
    font-style: italic;
}

strong{
    font-weight: bold;
}

/* ==================== START ====================== */

#maincta{
    float:right;                
    margin-top:47px;
}

    #maincta .cta{
        background-image:none;
        padding:6px 25px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;                    
        border-right:1px solid #95c96a;
        text-align:center;
        line-height:1.2;
    }

    #maincta span{
        font-size:11px;
        opacity:0.9;    
        display:block;  
        color:white;      
        font-weight:100;        
    }


.cta{
    display:block;
    background:#79bb43 url(../img/design/whitetri.png?v3) right center no-repeat;
    border:1px solid #95c96a;
    border-right:10px solid #79bb43;
    font-size:12px;
    font-weight:600;
    letter-spacing: 0.12em;
    color:white;
    padding:6px 31px 6px 17px;
    text-decoration: none;
    cursor:pointer;
    text-shadow:1px 1px 1px #7A7A7A;
}
.cta:hover{
    opacity:0.7;
}
.cta.invert{
    color:#f3971a;
    font-weight:700;
    font-size:14px;
    background:white url(../../img/design/arrow-orange.jpg) right center no-repeat;
    border-color:white;
    border-top:none;
    border-left:none;
    border-bottom:none;
    width:auto;
    padding:0 17px 0 0;
    display:inline;
    text-shadow:none;    
}
.cta.green{
    color:#5095eb;
    background:white url(../../img/design/blue-arrow.png) right center no-repeat;
    border-color:white;
    padding:10px 20px 10px 10px;
    text-shadow:none;    
}
.cta.green2{
    color:#8ed328;
    background:white url(../../img/design/arrow-green.png) right center no-repeat;
    border-color:white;
    text-shadow:none;    
}
.cta.invertwrap{
    text-align:center;
}
.cta.transparent{
    border:none;
    background-color:transparent;
    width:95px;
    padding-left:0;
    white-space:nowrap;
}
.cta.inline{
    display:inline;
}
.cta.learnmore{
    font-size:14px;
    padding-left:0;
}

body{
    background: white url(bg.png) left top repeat-x;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color:#6c6c6c;
}

#container{
    width:100%;
    max-width:1060px;
    margin:0 auto;
    text-align: left;
}  

    #header{
        height:105px;
    }

        #header .logo{
            display:block;
            width:373px;
            height:89px;
            float:left;
            text-indent: -999em;
            overflow:hidden;
            background:url(logo.png) left top no-repeat;
            margin:8px 0 0 10px;
        }
        
        #header img{
            margin:31px 0 0 40px;
        }

    #body{
        width:100%;      
        position:relative;  
        padding-bottom:50px;
    }
    
        #headimg{
            width:100%;
        }
    
        .onecol{
            padding:30px 10px;
        }
        
        .twocols{
            padding:30px 60px;
        }
        
            .col{
                width:420px;
                float:left;
            }
            .col.last{
                float:right;
            }
    
h1{
    color:#6c6c6c;
    font-size:24px;
    font-weight:600;
    letter-spacing: 1px;
    margin-bottom:1em;
    margin-top:1em;
}
    
h2{
    font-size:16px;
    margin-bottom:1em;
}

h3{
    font-size:20px;
    font-weight:600;
    text-align:center;
    margin:1em 1em 1.5em;
}

h4{
    font-size:22px;
    font-weight:300;
    font-style: italic;
    margin-bottom:0.8em;
}

strong{
    font-weight:bold;
}

p,li{
    font-size:18px;
    margin-bottom:0.5em;
}
#terms p, p.smaller, .dlform p.smaller{
    font-size:12px;
    margin-bottom:1em;
}
p.smaller{
    margin-top:2em;
}

ul{
    list-style-type: disc;
    margin-bottom:1em;
}

    ul li{
        list-style-type: disc;
        margin-left:30px;
    }
    
.thanksmate{
    background:#e9f6ff;
    padding:55px 30px;
    text-align:center;
}

    .thanksmate p{
        margin-bottom:1.5em;
    }
    
.dlform{
    position:absolute;
    right:18px;
    top:444px;
    width:419px;
    border:7px solid white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
    background:#e9f6ff;
    padding:0 43px;
}

    .dlform h1{
        letter-spacing: 2px;
        text-align: center;
        margin-bottom:25px;
    }
    
    .dlform h2{
        text-transform: uppercase;
        font-weight: 600;
        font-size:16px;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom:25px;
    }
    
    .dlform p{
        font-size:16px;
    }

form{
}

    form .field{
        margin-bottom:1em;
        clear:both;
    }

        form .field label, form .field p{
            color:#6c6c6c;
            text-transform: uppercase;
            font-weight:600;
            display:block;
            clear:both;
            font-size:16px;
            margin-bottom:8px;
            letter-spacing:1px;
        }
        
        form .field .inputbox{
            width:405px;
            border:1px solid #929699;
            padding:5px 5px;
            font-family: 'Open Sans', sans-serif;
        }
        form .field textarea.inputbox{
            width:calc(100% - 20px);
            padding:10px;
            height:130px;
        }
        
        form .field p{
            text-transform: lowercase;
            margin-top:5px;      
            font-size:12px;    
        }
        
        form .field .checkbox{
            width:20px;
            height:20px;
            background:white;
            border:1px solid #929699;
            float:left;
        }
        
        form .checkarea{
            margin:10px 0;
        }
        
        form .field .checklabel{
            clear:none;
            display:inline;
            padding-top:5px;
            font-size:12px;
            text-transform: none;
            font-weight:normal;
            margin:0;
            letter-spacing:0;
        }
        
        form .button{
            margin:0 auto;
            display: block;
            background: #79bb43 url(button.jpg) right center no-repeat;
            width:418px;
            height:72px;
            text-decoration: none;
            text-indent: -999em;
        }        
        form .button:hover{
            opacity:0.8;
        }
        form button:hover{ opacity:0.7; }
        form button:active{ opacity:0.7; }
        
.gotquestions{
    background:white url(gotq.jpg) center center no-repeat;
    width:505px;
    height:200px;
    text-indent: -999em;
    margin-left:-43px;
}

.video{
    clear:both;
    float:left;
    width:100%;
    color:#4c4c4c;
    font-weight:600;
    text-align:center;
    background:#e8f5fe;
    padding-bottom:1.5em;
    margin-top:30px;
}

    .video h5{
        padding:1em 0;
        letter-spacing:1px;
    }
    
    .video .vidholder{
        max-width:587px;
        margin:0 auto;
    }
    
        .video .vidholder iframe{
            height:330px;
            width:100%;
        }

.clr{
    clear:both
}

.blocks{
    width:1010px;
    margin:0 auto;
}

    .blocks img{      
        float:left;
        margin-right:10px;
    }
    .blocks img:nth-child(4n+4){
        margin:0;
    }
    
.carousel{
    width: 100%; 
    position:relative;   
    height:456px;
}
.dots{
    margin-bottom:90px;
}

    .sliderwrapper{
        overflow:hidden;
        position:relative;
        height:456px;
    }
    
        .slider{
            position:absolute;
            top:0;
            left:0;
            height:456px;
        }
        
            .slider .item{
                float:left;
            }
            
    .carousel .arrow{
        position:absolute;
        left:0;
        top:0;
        width:55px;
        height:456px;
        background:url(arrowbg.png) center center repeat;
        text-indent: -999em;
        display:none;
        z-index:1;
    }
    .carousel .arrow.right{
        left:auto;
        right:0;
    }
    .carousel:hover .arrow{
        display:block;
    }
    .carousel .arrow:hover{
        opacity:0.7;
    }    
    
    .carousel .arrow img{
        display:block;
        margin:206px auto 0;
    }
    
.callout{
    text-align: center;
    width:1060px;
    height:104px;
    padding-top:37px;
    background:url(03.png) left top no-repeat;
    line-height:1;
    margin-top:-58px;
    position:relative;
    z-index:2;
}

.twoopts{
    border-bottom:5px solid #e79527;
    margin:25px 0;
    background:url(06.jpg) center center no-repeat;    
}

    .twoopts p{
        font-size:15px;
    }

    .twoopts td{
        padding:0 55px 30px;
    }
    
        .twoopts td img{
            width:100%;
        }

hr{
    color:#e79527;
    background:#e79527;
    border:none;
    height:5px;
    margin:40px 0;
}

#horidlform{
    width:calc(100% - 50px);
    padding:25px 25px 0;
    margin:0 0 40px;
    float: none;
    background:#e8f5fe;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.5);    
}

    #horidlform .inputbox{
        padding:10px 19px;
        color:#c5c5c5;
        border:1px solid #b2b2b2;
        float:left;
        margin-right:32px;
        font-size:16px;
        letter-spacing: 0.12em;
        width:330px;
    }
    #horidlform .inputbox.smartedit{
        color:#7c7c7c
    }
    .internal #horidlform .inputbox{
        width:225px;
    }
    
    #horidlform .cta{
        float:right;
        padding:6px 25px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;                    
        border-right:1px solid #95c96a;
        background-image:none;
        font-size:15px;
        text-align:center;
        line-height:1.2;
    }
    
        #horidlform .cta span{
            display:block;
            font-size:11px;
            opacity:0.9;
            font-weight:300;
        }
    
    #horidlform .checkarea{
        float:right;
        width:200px;
        margin-top:5px;
        clear:both;
    }

        #horidlform .checkarea .check{
            float:left;
        }
    
        #horidlform .checkarea label{
            font-size:9px;
            opacity:0.7;
            float:left;
            display:block;
            margin-left:5px;
            text-align:left;
            width:165px;
        }
        
@media only screen and (max-width: 1075px) { 
    .carousel, .callout, #maincta, .logoside{
        display:none;
    }
    
    #horidlform{
        width:calc(95% - 50px);
        margin:0 auto 40px;
    }
    
    #horidlform .inputbox{
        clear:both;
        width:calc(100% - 50px);
        margin-bottom:10px;
    }
    
    .blocks{
        width:100%;
    }
        
        .blocks img, .blocks img:nth-child(4n+4){
            clear:both;
            float:none;
            margin: 10px auto 20px;
            display:block;
        }
}