@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700);

body{
    margin:0;
    padding:0;
}
body												{ font-family: 'Open Sans', sans-serif; }
a													{ outline: none; }
	#track_container								{ width: 491px; display: block; }
			#track_header							{ width: 520px; }
			#header_title							{ margin: 0; padding: 0; padding-bottom: 30px; font-size: 15pt; font-weight: bold; }
		#track_details								{ padding-bottom: 15px; width: 420px; font-size: 11pt; display: block; float: left; }
			#track_albumid							{ width: 260px; float: left; }
				#albumid_title						{ font-weight: bold; width: 90px; display: block; float: left; }
				#albumid_value						{ float: left; display: block; float: left; }
				del									{ text-decoration: line-through; }
				.invoice_link_dud					{ color: #333333; padding-left: 10px; }
				.invoice_link						{ text-decoration: underline; color: #000000; padding-left: 10px; }
			#track_price							{ width: 160px; float: left; }
				#price_title						{ font-weight: bold; width: 90px; display: block; float: left; }
				#price_value						{ float: left; display: block; float: left; }
			#track_productdesc						{ width: 260px; float: left; }
				#productdesc_title					{ font-weight: bold; width: 90px; display: block; float: left; }
				#productdesc_value					{ float: left; display: block; float: left; }
			#track_quantity							{ width: 160px; float: left; }
				#quantity_title						{ font-weight: bold; width: 90px; display: block; float: left; }
				#quantity_value						{ float: left; display: block; float: left; }
			#track_covertype						{ width: 260px; float: left; }
				#covertype_title					{ font-weight: bold; width: 90px; display: block; float: left; }
				#covertype_value					{ float: left; display: block; float: left; }
			#track_covertitle						{ width: 160px; float: left; position: relative; }
				#covertitle_title					{ font-weight: bold; width: 90px; display: block; float: left; }
				#covertitle_value					{ width: auto; display: block; }
			#track_poweredby						{ background-image: url(../img/poweredbyap.jpg); background-repeat: no-repeat; text-indent: -9999px; overflow: hidden; display: block; float: left; width: 100px; height: 35px; position: relative; top: -4px; z-index: -1; }
		#track_processflow 							{ clear: both; display: block; }  
			.processflow_item						{ display: block; }
				.processflow_title					{ display: none; }
				.processflow_date					{ display: block; float: left; height: 110px; font-size: 8pt; padding-top: 90px; padding-bottom: 15px; text-align: center; overflow: hidden; background-repeat: no-repeat; } /* ie 6 */
				.processflow_item > .processflow_date{ display: block; float: left; height: 20px; font-size: 8pt; padding-top: 90px; padding-bottom: 10px; text-align: center; overflow: hidden; background-repeat: no-repeat; }
					.processflow_date_order			{ width: 70px; }
						#processflow_order_tick		{ background-image: url(../img/ordering_ticked.jpg); }
						#processflow_order_ques		{ background-image: url(../img/ordering_question.jpg); }
						#processflow_order_grey		{ background-image: url(../img/ordering_greyed.jpg); }
						#processflow_order_excl		{ background-image: url(../img/ordering_exclaim.jpg); }
						#processflow_order_cros		{ background-image: url(../img/ordering_crossed.jpg); }
					.processflow_date_payment		{ width: 70px; }
						#processflow_payment_tick	{ background-image: url(../img/payment_ticked.jpg); }
						#processflow_payment_ques	{ background-image: url(../img/payment_question.jpg); }
						#processflow_payment_grey	{ background-image: url(../img/payment_greyed.jpg); }
						#processflow_payment_excl	{ background-image: url(../img/payment_exclaim.jpg); }
						#processflow_payment_cros	{ background-image: url(../img/payment_crossed.jpg); }
						#processflow_payment_inst	{ background-image: url(../img/payment_instore.jpg); }
					.processflow_date_process		{ width: 99px; }
						#processflow_process_tick	{ background-image: url(../img/pressprep_ticked.jpg); }
						#processflow_process_ques	{ background-image: url(../img/pressprep_question.jpg); }
						#processflow_process_grey	{ background-image: url(../img/pressprep_greyed.jpg); }
						#processflow_process_excl	{ background-image: url(../img/pressprep_exclaim.jpg); }
						#processflow_process_cros	{ background-image: url(../img/pressprep_crossed.jpg); }
					.processflow_date_print			{ width: 96px; }
						#processflow_print_tick		{ background-image: url(../img/printing_ticked.jpg); }
						#processflow_print_ques		{ background-image: url(../img/printing_question.jpg); }
						#processflow_print_grey		{ background-image: url(../img/printing_greyed.jpg); }
						#processflow_print_excl		{ background-image: url(../img/printing_exclaim.jpg); }
						#processflow_print_cros		{ background-image: url(../img/printing_crossed.jpg); }
					.processflow_date_bind			{ width: 79px; }
						#processflow_bind_tick		{ background-image: url(../img/assembly_ticked.jpg); }
						#processflow_bind_ques		{ background-image: url(../img/assembly_question.jpg); }
						#processflow_bind_grey		{ background-image: url(../img/assembly_greyed.jpg); }
						#processflow_bind_excl		{ background-image: url(../img/assembly_exclaim.jpg); }
						#processflow_bind_cros		{ background-image: url(../img/assembly_crossed.jpg); }
					.processflow_date_dispatch		{ width: 77px; }
						#processflow_dispatch_tick	{ background-image: url(../img/dispatch_ticked.jpg); }
						#processflow_dispatch_ques	{ background-image: url(../img/dispatch_question.jpg); }
						#processflow_dispatch_grey	{ background-image: url(../img/dispatch_greyed.jpg); }
						#processflow_dispatch_excl	{ background-image: url(../img/dispatch_exclaim.jpg); }
						#processflow_dispatch_cros	{ background-image: url(../img/dispatch_crossed.jpg); }
		#track_comments								{ padding-bottom: 10px; display: block; font-size: 10pt; clear: both; }
			#comments_title							{ font-weight: bold; display: block; }
			.comments_value							{ display: block; padding-left: 50px; min-height: 25px; background-position: 10px 0px; background-repeat: no-repeat; }
				#comments_excl						{ background-image: url(../img/icons_exclaim.jpg); }
				#comments_ques						{ background-image: url(../img/icons_question.jpg); }
				#comments_talk						{ background-image: url(../img/icons_talk.jpg); }
				#comments_none						{ }
		#track_delivery								{ width: 250px; font-size: 10pt; display: block; float: left; clear: left; }
			#delivery_header						{ display: block; }
				#delivery_title						{ display: block; font-weight: bold; }
			.delivery_item							{ display: block; padding-left: 10px; padding-top: 10px; float: left; clear: both; }
				.delv_details						{ width: 240px; display: block; clear: both; }
					.delv_item_count				{ display: block; clear: both; }
					.delv_name						{ padding-left: 20px; display: block; clear: both; }
					.delv_addyline1					{ padding-left: 20px; display: block; clear: both; }
					.delv_addyline2					{ padding-left: 20px; display: block; clear: right; }
					.delv_suburb					{ padding-left: 20px; display: block; float: left; }
					.delv_postcode					{ padding-left: 20px; display: block; float: left; clear: right; }
				.delv_consnotes						{ width: 240px; display: block; clear: both; }
					.consnotes_desc					{ }
					.consnotes_link					{ outline: none; color: #000000; }
		#track_helpguide							{ width: 230px; display: block; float: right; margin-right: 10px; }
			#helpguide_header						{ }
				#helpguide_title					{ font-size: 10pt; font-weight: bold; display: block; }
			#helpguide_content						{ }
				.helpguide_question					{ font-size: 10pt; }
					.question_title					{ outline: none; color: #000000; padding-left: 10px; padding-bottom: 5px; display: block; background-image: url(../img/question_arrow.gif); background-repeat: no-repeat; background-position: 0 0; }
					.question_title_active			{ outline: none; color: #000000; padding-left: 10px; padding-bottom: 5px; display: block; background-image: url(../img/question_arrow.gif); background-repeat: no-repeat; background-position: 0 -61px; }
					.question_content				{ padding-bottom: 20px; display: block; padding-left: 20px; }
		
	#track_consignment								{ border: 1px solid #888888; width: 500px; margin: 0 auto; font-size: 10pt; padding: 40px; margin-top: 40px; }
		#consignment_title							{ display: block; padding-bottom: 20px; font-weight: bold; }
		#consignment_fieldset						{ padding: 0; margin: 0; border: 0; }
		#consignment_submit							{ display: block; margin: 0 auto; margin-top: 40px; }
	
	#empty_spacer									{ width: 520px; display: block; clear: both; }
    
#trackpart{
    float:right;
    padding-top:10px;
}

#stagebit{
    width:350px;
    height:445px;
    overflow:hidden;
    text-indent:-999em;
    float:left;
    background-position:left top;
    background-size:contain;
    display:none\9;
}
.status_payment { background:url(../img/status_payment.jpg) left top no-repeat; }
.status_press_prep { background:url(../img/status_press_prep.jpg) left top no-repeat; }
.status_printing { background:url(../img/status_printing.jpg) left top no-repeat; }
.status_assembly { background:url(../img/status_assembly.jpg) left top no-repeat; }
.status_dispatched { background:url(../img/status_dispatched.jpg) left top no-repeat; }

@media only screen and (max-width: 800px) { 
    #stagebit{ 
        display:none;         
    } 
    #trackpart{ 
        float:none;
        margin:0 auto;
        width:491px;
    } 
}

@media only screen and (max-width: 600px) {
    #track_processflow > div > span{ background-size:contain; }
    .processflow_date_order { width:63px; }
    .processflow_date_payment { width:63px; }
    .processflow_date_process { width:89px; }
    .processflow_date_print { width:86px; }
    .processflow_date_bind { width:71px; }
    .processflow_date_dispatch { width:69px; }
    
    #track_helpguide{
        float:left;
        margin-top:10px;
        margin-right:0;
        width:auto;
    }
    
    #trackpart, #track_container{ 
        width:auto;
    }     
    
    #track_details{
        width:auto;
    }
    
        #track_details *{
            float:none;
            display:block;
        }
        
        #track_details span:first-child{
            float:left;
        }
        
        #track_details > div{
            margin-bottom:0.5em;
        }
        
        #track_details .invoice_link{
            float:right;
        }
}

#facebook_promotion{
    width:990px;
    height:203px;
    display:block;
    background:url(../img/facebook_promotion.jpg) left top no-repeat;
    text-indent: -999em;
    overflow:hidden;
    margin-top:60px;
    clear:both;
    display:none;
}