@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700);
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');

body{
    margin:0;
    padding:0;
}
body, p, td {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt; margin:0; color: #1164b4;
}
p, td {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt;
}
li,ul{
	margin-top: 1px;
}

.note {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 9pt;
}
.date {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt;
}
.infoguide_question {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt;
}
.infoguide {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt;
}
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt; font-weight:bold;
}
.h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt; font-weight:bold;
}
.button {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt; font-weight:bold; background-color:#FF0000; border:0;height:16px; width:50px;
}
.error_message {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt; color:#CC0000;
}
a.example-AP	{
	float: right;
	margin-top: 0px;
	display: block;
	width: 144px;
	height: 147px;
	text-indent: -9999px;
	background-image: url(../img/example-button.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	outline: none;
}
a.example-AP:hover	{
	background-position: 0 100%;
}
a.example-OW	{
	float: right;
	margin-top: 50px;
	display: block;
	width: 100px;
	height: 22px;
	text-indent: -9999px;
	background-image: url(../img/ow-example.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	outline: none;
}
a.example-OW:hover	{
	background-position: 0 100%;
}
a.example-TG	{
	float: right;
	margin-top: 5px;
	display: block;
	width: 90px;
	height: 90px;
	text-indent: -9999px;
	background-image: url(../img/tg-example.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	outline: none;
}
a.example-TG:hover	{
	background-position: 0 100%;
}
/*.example	{
	margin-top: 120px;
	}*/
	
.tmo-ow-label {	display: block; font-size: 12px; font-weight: bold; margin-bottom: 3px; color: #000; font-family: Arial,Helvetica,sans-serif; }

#portal_auth_form{
    margin:0 auto;
    background:url(../img/01.jpg) right center no-repeat;
    background-size:auto 350px;
}
@media only screen and (max-width: 975px) {
    #portal_auth_form{
        background: none;
    }
}

.thinhead{
    font-size:30px;
    color:#7c7c7c;
}

#trackhero{
    background:white url(../img/bg-track.jpg) center center no-repeat;
    background-size:contain;
    height:242px;
    width:100%;
    margin-bottom:30px;
    margin-top:0;
    text-indent:-999em;
    overflow:hidden;
}

.herotext{
    font-family: 'Open Sans',  sans-serif;
    font-size:17px;
    font-weight:300;
}

.inputbox{
    font-family: 'Open Sans',  sans-serif;
    max-width:300px;
    border:1px solid #a0c1e4;
    padding:5px 10px;
    display:block;
    width:calc(100% - 20px);
    margin-bottom:1em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;      
    font-size:16px;    
}


.formtable p{
    margin-top:1em;
}


.note{
    display:block;
    clear:both;
    padding-top:5px;
}

.smaller{
    font-size:85%;
}

button.trackbutton{
    background:url(../img/btn-tracknow.jpg) left top no-repeat;
    width:168px;
    height:46px;
    overflow:hidden;
    text-indent: -999em;
    border:none;
    cursor:pointer;
}

.cta{
    color:white;
    background:#7fd3aa;
    border:1px solid #00a650;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;     
    padding:8px 20px;
    font-weight:700;
    display:inline-block;
    text-decoration:none;    
    letter-spacing:1px;
    font-size:14px;    
}
.cta:hover{
    opacity:0.7;
}

.padtop{
    padding-top:8px;
}

.loginbuttontd button{
    float:left;
}

/* HIJACK! */

#hijack{
    position:relative;
}

#hijack .inputbox{
    border:none;
    background:transparent;
    position:absolute;
}

#hijack .button{
    border:none;
    background:transparent;
    text-indent:-999em;
    position:absolute;
    cursor:pointer;
}

.youbookz{
    background:url(../img/bg-track-youbookz-narrow.jpg) left top no-repeat;
    width:1028px;
    height:174px;
}

.youbookz #hijack_albumid { width:242px; top:80px; left:34px; }
.youbookz #hijack_email { width:242px; top:80px; left:314px; }
.youbookz #hijack_button { width:199px; height:27px; top:77px; left:755px; }

.headings h2{
    font-size:22px;
    font-family: 'Merriweather', serif;
    font-weight:400;
    color:#1164b4;
    margin-top:0;
}

.headings p{
    font-size:16px;
    font-weight:300;
    color:#1164b4;    
}

table.formtable{
    padding:35px;
}

.formtable label{
    display:block;
    color:#1164b4;
    font-family: 'Merriweather', serif;
    font-weight:600;
    font-size:18px;
    padding-bottom:10px;
}

