/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

em{
    font-style: italic;
}

strong{
    font-weight: bold;
}

/* ==================== START ====================== */

body{
    background: white url(bg.png) left top repeat-x;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}

#container{
    width:100%;
    max-width:1060px;
    margin:0 auto;
    text-align: left;
}  

    #header{
        height:105px;
    }

        #header a{
            display:block;
            width:373px;
            height:89px;
            float:left;
            text-indent: -999em;
            overflow:hidden;
            background:url(logo.png) left top no-repeat;
            margin:8px 0 0 10px;
        }

    #body{
        width:100%;        
    }
    
        #headimg{
            width:100%;
        }
    
        .onecol{
            padding:30px 10px;
        }
        
        .twocols{
            padding:30px 60px;
        }
        
            .twocols .col{
                width:420px;
                float:left;
            }
            .twocols .col.last{
                float:right;
            }
    
h1{
    color:#bebebe;
    font-size:30px;
    font-weight:600;
    letter-spacing: 1px;
    margin-bottom:1em;
}
    
h2{
    font-size:16px;
    margin-bottom:1em;
}

p{
    font-size:14px;
    margin-bottom:0.5em;
}
#terms p, p.smaller{
    font-size:12px;
    margin-bottom:1em;
}
p.smaller{
    margin-top:2em;
}

ul{
    list-style-type: disc;
    margin-bottom:1em;
}

    ul li{
        list-style-type: disc;
        margin-left:30px;
    }
    
.thanksmate{
    background:#e9f6ff;
    padding:55px 30px;
    text-align:center;
}

    .thanksmate p{
        margin-bottom:1.5em;
    }

form{
    background:#e9f6ff;
    padding:20px;
}

    form .field{
        margin-bottom:1em;
        clear:both;
    }

        form .field label, form .field p{
            color:#a1a5a8;
            text-transform: uppercase;
            font-weight:600;
            display:block;
            clear:both;
            font-size:14px;
            margin-bottom:8px;
            letter-spacing:1px;
        }
        
        form .field .inputbox{
            width:calc(100% - 10px);
            border:1px solid #929699;
            padding:2px 5px;
            font-family: 'Open Sans', sans-serif;
        }
        form .field textarea.inputbox{
            width:calc(100% - 20px);
            padding:10px;
            height:130px;
        }
        
        form .field p{
            text-transform: lowercase;
            margin-top:5px;      
            font-size:12px;    
        }
        
        form .field .checkbox{
            width:20px;
            height:20px;
            background:white;
            border:1px solid #929699;
            float:left;
        }
        
        form .field .checklabel{
            clear:none;
            margin-left:35px;
            padding-top:5px;
        }
        
        form button{
            margin:0 auto;
            display: block;
            background: #79bb43 url(../../img/design/whitetri.png?v3) right center no-repeat;
            border: 1px solid #95c96a;
            border-right: 10px solid #79bb43;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.12em;
            color: white;
            padding: 12px 31px 12px 17px;
            text-decoration: none;
            cursor: pointer;
            text-shadow: 1px 1px 1px #7A7A7A;            
        }        
        form button:hover{ opacity:0.7; }
        form button:active{ opacity:0.7; }
        